
.ChatComponent{
  background-color: #090E11;  
  display: flex;
}
.div_users{
  width: 35%;
  height: 100%;
}
.div_chat{
  display: flex; 
  flex-direction: column;
  background-color: brown;
  width: 65%;
  right: 0;
  margin-top: 20px;
  position: fixed;
  overflow-y: scroll;
  background-image: url('background.jpg');

}
.div_messages{
  height: 100vh;
}
.div_send_message{
  position: fixed;
  bottom: 0;
  background-color: gray;
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
