
.ChatComponent{
  display: flex;
}
.div_users{
  background-color: green;
  width: 40%;
  height: 100%;
}
.div_chat{
  display: flex; 
  flex-direction: column;
  background-color: brown;
  width: 60%;
  top: 0;
  right: 0;
  position: fixed;
  overflow-y: scroll;
}
.div_messages{
  height: 100vh;
}
.div_send_message{
  position: fixed;
  bottom: 0;
  background-color: gray;
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
