
.ChatComponent{
  background-color: #090E11;  
  display: flex;
}
.div_users{
  width: 35%;
  height: 100%;
}
.div_chat{
  display: flex; 
  flex-direction: column;
  background-color: brown;
  width: 65%;
  right: 0;
  margin-top: 20px;
  position: fixed;
  overflow-y: scroll;
  background-image: url('./51edc046eb80046ee4755ee71d0f19ca.jpeg');

}
.send_message{
   width: 54vw;
   height:6vh;
   outline: none;
   border: 1px solid black;
   border-radius: 30px 30px 30px 30px;
   margin-right: 6px;
}
.button_send_message{
  border-radius: 30px 30px 30px 30px;
  outline: none;
  border: 2px black;
}

.div_messages{
  height: 100vh;
}
.div_send_message{
  position: fixed;
  bottom: 0;
  background-color: gray;
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
