.UserMessages{
    width: 100%;

}
#User_message_sent{
    width: max-content;
    padding: 10px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: 10px;
    background-color: #E8E8E8		;
}

#User_message_recieved{
    width: max-content;
    padding: 10px;
    border-radius: 7px;
    margin-left: 10px;
    margin-right: auto;
    background-color: #f5f5f5;
}